

.btn {
 
  color: rgb(5, 2, 66);
  padding: 4px 8px;
  font-size: 11px; /* Smaller font size */
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.btn:hover {
  background-color: #e2e2e2; 
}
